body{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #edecec;
}
.formulario{
    border: none;
    text-align: center;
    width: 10cm;
    box-shadow: 0 0 12px 1px;
    background-color: #fff;
    height: 10cm;
    margin: 150px auto;
}
.formulario h1{
    line-height: 50px;
    font-size: 25px;
    text-decoration: underline;
}
.formulario input{
    text-indent: 10px;
    width: 8cm;
    margin: 7px 0;
    height: 25px;
}
.formulario button{
    width: 8.2cm;
    height: 27px;
    margin: 5px 0;
}
